@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  transition:0.5s;
  font-family:Open Sans, Sans Serif;
  background-color:#009688;
}

.title {
  font-family:Titillium Web;
  padding-top:10%;
  text-align:center;
}

.xOrO{
  font-family:Architects Daughter;
  font-size:20px;
  text-align:center;
  margin:10px;
}
.oneOrTwoPlayers{
  font-family:Open Sans;
  font-size:20px;
  text-align:center;
  margin:10px; /* 3 px for codepen.io */
}

.turn{
  font-family:Open Sans;
  padding-top:40px;
  margin:20px;
  text-align:center;
  text-transform:uppercase;
  font-size:1.5em;
}

.loading{
  background-color:red;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
}

.board{
  font-family:Architects Daughter;
  box-shadow:1px 1px 1px 1px #3E2723 ;
  border-radius: 15px;
  border:19px solid #795548;
  width : 350px;
  height : 350px;
  color:#EEEEEE;
  background-color:#EEEEEE;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  padding:0px;
}

.boxes {
  text-align:center;
  font-size:3.5em;
  margin:2px;
  background-color:#424242;
  float:left;
  display:block; /* change to table for codepen.io */
  width: 100; /* 100.5px for codepen.io */
  height: 100px;
  padding-top: 12%; /*padding:8px;*/
}

.boxes:hover{
  background-color:#9E9E9E;
}


.buttons{
  text-align:center;
  margin-top:18px;
}
.reset{
  padding:5px;
  text-transform:uppercase;
  background-color:#009688;
  border-style:solid;
  border-radius:10px;
  color:#EEEEEE;
}
.reset:hover{
  background-color:#004D40;
}

.X{
  font-family:Architects Daughter;
  font-size:55px;
  color:#F44336
}

.O{
  font-family:Architects Daughter;
  font-size:55px;
  color:#FFEB3B

}

footer{
  padding-top:5%;
  padding-bottom:1%;
  text-align:center;
}
